<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="EduChamp : Education HTML Template" />
	
	<!-- OG -->
	<meta property="og:title" content="EduChamp : Education HTML Template" />
	<meta property="og:description" content="EduChamp : Education HTML Template" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" th:href="@{assets/images/favicon.ico}" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{assets/images/favicon.png}" />
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Course List</title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script th:src="@{assets/js/html5shiv.min.js}"></script>
	<script th:src="@{assets/js/respond.min.js}"></script>
	<![endif]-->

	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" th:href="@{assets/css/assets.css}">

	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" th:href="@{assets/css/typography.css}">

	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" th:href="@{assets/css/shortcodes/shortcodes.css}">

	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" th:href="@{assets/css/style.css}">
	<link class="skin" rel="stylesheet" type="text/css" th:href="@{assets/css/color/color-1.css}">
	
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>

    <!-- Header Top ==== -->
	<header class="header rs-nav header-transparent">
		<div class="top-bar">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="topbar-left">
						<ul>
							<li><a href="faq-1.html"><i class="fa fa-question-circle"></i>Ask a Question</a></li>
							<li><a href="javascript:;"><i class="fa fa-envelope-o"></i>Support@website.com</a></li>
						</ul>
					</div>
					<div class="topbar-right">
						<ul>
							<li>
								<select class="header-lang-bx">
									<option data-icon="flag flag-uk">English UK</option>
									<option data-icon="flag flag-us">English US</option>
								</select>
							</li>
							<li><a href="login.html">Login</a></li>
							<li><a href="register.html">Register</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="sticky-header navbar-expand-lg">
			<div class="menu-bar clearfix">
				<div class="container clearfix">
					<!-- Header Logo ==== -->
					<div class="menu-logo">
						<a href="index.html"><img src="assets/images/logo-white.png" alt=""></a>
					</div>
					<!-- Mobile Nav Button ==== -->
					<button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<!-- Author Nav ==== -->
					<div class="secondary-menu">
						<div class="secondary-inner">
							<ul>
								<!-- Search Button ==== -->
								<li class="search-btn"><button id="quik-search-btn" type="button" class="btn-link"><i class="fa fa-search"></i></button></li>
							</ul>
						</div>
					</div>
					<!-- Search Box ==== -->
					<div class="nav-search-bar">
						<form action="#">
							<input name="search" type="text" class="form-control" placeholder="Type to search">
							<span><i class="ti-search"></i></span>
						</form>
						<span id="search-remove"><i class="ti-close"></i></span>
					</div>
					<!-- Navigation Menu ==== -->
					<div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
						<div class="menu-logo">
							<a href="index.html"><img src="assets/images/logo.png" alt=""></a>
						</div>
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Home</a>
							</li>
							<li><a href="javascript:;">Category <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<th:block th:each="item : ${listCate}">
										<li><a href="#" th:text="${item.categoryname}"></a></li>
									</th:block>
								</ul>
							</li>
							<li class="add-mega-menu"><a href="javascript:;">Our Courses</a>
							</li>
							<li><a href="#">Blog </a>
							</li>
						</ul>
						<div class="nav-social-link">
							<a href="javascript:;"><i class="fa fa-facebook"></i></a>
							<a href="javascript:;"><i class="fa fa-google-plus"></i></a>
							<a href="javascript:;"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
					<!-- Navigation Menu END ==== -->
				</div>
			</div>
		</div>
	</header>
    <!-- header END ==== -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner3.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Our Courses</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="/">Home</a></li>
					<li>Our Courses</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- inner page banner END -->
		<div class="content-block">
            <!-- About Us -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
							<div class="widget courses-search-bx placeani">
								<div class="form-group">
									<div class="input-group">
										<label>Search Courses</label>
										<input name="dzName" type="text" required class="form-control">
									</div>
								</div>
							</div>
							<div class="widget widget_archive">
                                <h5 class="widget-title style-1">All Category</h5>
                                <ul>
									<th:block th:each="item : ${listCate}">
										<li th:class="${item.categoryid == categoryID ? 'active' : ''}"><a th:href="@{/courses(categoryID=${item.categoryid})}" th:text="${item.categoryname}"></a></li>
									</th:block>
                                </ul>
                            </div>
							<div class="widget">
								<a href="#"><img src="assets/images/adv/adv.jpg" alt=""/></a>
							</div>
						</div>
						<div class="col-lg-9 col-md-8 col-sm-12">
							<div class="row">
								<th:block th:each="item : ${pagingCourses}">
									<div class="col-md-6 col-lg-4 col-sm-6 m-b30">
										<div class="cours-bx">
											<div class="action-box">
												<img src="assets/images/courses/pic1.jpg" alt="">
												<a th:href="@{/courseDetail/{id}(id=${item.getCourseid()})}" class="btn">Read More</a>
											</div>
											<div class="info-bx text-center">
												<h5><a th:href="@{/courseDetail/{id}(id=${item.getCourseid()})}" th:text="${item.getCoursename()}"></a></h5>
												<span th:text="${item.getCategory().categoryname}"></span>
											</div>
											<div class="cours-more-info">
												<div class="review">
													<span><th:block th:text="${item.getCourserating()}"></th:block> Review</span>
													<ul class="cours-star">
														<th:block th:each="item : ${#numbers.sequence(1,item.getCourserating())}">
															<li class="active"><i class="fa fa-star"></i></li>
														</th:block>
														<th:block th:if="${item.getCourserating() != 5}" th:each="i : ${#numbers.sequence(1,5 - item.getCourserating())}">
															<li><i class="fa fa-star"></i></li>
														</th:block>
													</ul>
												</div>
												<div class="price">
													<del>$<th:block th:if="${item.getCurrentPrice() != null}" th:text="${item.getCourseprice()}"></th:block></del>
													<h5>$<th:block th:text="${item.getCurrentPrice() != null ? item.getCurrentPrice() : item.getCourseprice()}"></th:block></h5>
												</div>
											</div>
										</div>
									</div>
								</th:block>

								<div class="col-lg-12 m-b20" th:if="${pagingCourses.totalPages > 0}">
									<div class="pagination-bx rounded-sm gray clearfix">
										<ul class="pagination">
											<li class="previous"><a href="#"><i class="ti-arrow-left"></i> Prev</a></li>
											<li  th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber==pagingCourses.number + 1} ? active"><a href="#" th:text="${pageNumber}"></a></li>
											<li class="next"><a href="#">Next <i class="ti-arrow-right"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
		<!-- contact area END -->
		
    </div>
    <!-- Content END-->
	<!-- Footer ==== -->
    <footer>
        <div class="footer-top">
			<div class="pt-exebar">
				<div class="container">
					<div class="d-flex align-items-stretch">
						<div class="pt-logo mr-auto">
							<a href="index.html"><img src="assets/images/logo-white.png" alt=""/></a>
						</div>
						<div class="pt-social-link">
							<ul class="list-inline m-a0">
								<li><a href="#" class="btn-link"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="btn-link"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="btn-link"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
						<div class="pt-btn-join">
							<a href="#" class="btn ">Join Now</a>
						</div>
					</div>
				</div>
			</div>
            <div class="container">
                <div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                        <div class="widget">
                            <h5 class="footer-title">Sign Up For A Newsletter</h5>
							<p class="text-capitalize m-b20">Weekly Breaking news analysis and cutting edge advices on job searching.</p>
                            <div class="subscribe-form m-b20">
								<form class="subscription-form" action="http://educhamp.themetrades.com/demo/assets/script/mailchamp.php" method="post">
									<div class="ajax-message"></div>
									<div class="input-group">
										<input name="email" required="required"  class="form-control" placeholder="Your Email Address" type="email">
										<span class="input-group-btn">
											<button name="submit" value="Submit" type="submit" class="btn"><i class="fa fa-arrow-right"></i></button>
										</span> 
									</div>
								</form>
							</div>
                        </div>
                    </div>
					<div class="col-12 col-lg-5 col-md-7 col-sm-12">
						<div class="row">
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Company</h5>
									<ul>
										<li><a href="index.html">Home</a></li>
										<li><a href="about-1.html">About</a></li>
										<li><a href="faq-1.html">FAQs</a></li>
										<li><a href="contact-1.html">Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Get In Touch</h5>
									<ul>
										<li><a href="http://educhamp.themetrades.com/admin/index.html">Dashboard</a></li>
										<li><a href="blog-classic-grid.html">Blog</a></li>
										<li><a href="portfolio.html">Portfolio</a></li>
										<li><a href="event.html">Event</a></li>
									</ul>
								</div>
							</div>
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Courses</h5>
									<ul>
										<li><a href="courses.html">Courses</a></li>
										<li><a href="courses-details.html">Details</a></li>
										<li><a href="membership.html">Membership</a></li>
										<li><a href="profile.html">Profile</a></li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
					<div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
                        <div class="widget widget_gallery gallery-grid-4">
                            <h5 class="footer-title">Our Gallery</h5>
                            <ul class="magnific-image">
								<li><a href="assets/images/gallery/pic1.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic1.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic2.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic2.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic3.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic3.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic4.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic4.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic5.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic5.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic6.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic6.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic7.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic7.jpg" alt=""></a></li>
								<li><a href="assets/images/gallery/pic8.jpg" class="magnific-anchor"><img src="assets/images/gallery/pic8.jpg" alt=""></a></li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center"> <a target="_blank" href="https://www.templateshub.net">Templates Hub</a></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up" ></button>
</div>
<!-- External JavaScripts -->
<script th:src="@{assets/js/jquery.min.js}"></script>
<script th:src="@{assets/vendors/bootstrap/js/popper.min.js}"></script>
<script th:src="@{assets/vendors/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{assets/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
<script th:src="@{assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js}"></script>
<script th:src="@{assets/vendors/magnific-popup/magnific-popup.js}"></script>
<script th:src="@{assets/vendors/counter/waypoints-min.js}"></script>
<script th:src="@{assets/vendors/counter/counterup.min.js}"></script>
<script th:src="@{assets/vendors/imagesloaded/imagesloaded.js}"></script>
<script th:src="@{assets/vendors/masonry/masonry.js}"></script>
<script th:src="@{assets/vendors/masonry/filter.js}"></script>
<script th:src="@{assets/vendors/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{assets/js/functions.js}"></script>
<script th:src="@{assets/js/contact.js}"></script>
<script th:src='@{assets/vendors/switcher/switcher.js}'></script>
</body>

</html>
