<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>dob</th>
                <th>Address</th>
                <th>Role</th>
            </tr>
            <tr th:each="u:${users}"> 
                <td th:text="${u.userId}"></td>
                <td th:text="${u.fullName}"></td>
                <td th:text="${u.email}"></td>
                <td th:text="${u.gender}"></td>
                <td th:text="${u.dob}"></td>
                <td th:text="${u.address}"></td>
                <td th:text="${u.role}"> </td>
            </tr>
        </table>
    </div>
</body>
</html>